<app-supprots-ai-help-desk 
  [mainTitle]="''" 
  [features]="[
    { title: 'তৃতীয় পক্ষের উপর নির্ভরশীলতা', description: 'তৃতীয় পক্ষের মাধ্যমে সাপোর্ট দেওয়া হতো, ফলে সময়ক্ষেপণ ও তথ্যের অসঙ্গতি দেখা দিত। এই পরিস্থিতি গ্রাহকের হয়রানি, অসন্তুষ্টি ও সেবার মান-অবনমন ঘটাতো।' },
    { title: 'অনভিজ্ঞ বা অপ্রশিক্ষিত কর্মীর মাধ্যমে সাপোর্ট প্রদান', description: 'সাপোর্ট টিমের যথাযথ অভিজ্ঞতা ও টেকনিক্যাল দক্ষতা না থাকায় অ্যাটেনড্যান্স, রেজাল্ট ও ফি ব্যবস্থাপনায় ঘন ঘন ভুল, বিলম্ব এবং অনিয়ম দেখা দিত।' },
    { title: 'দেরিতে সাপোর্ট প্রাপ্তি', description: 'ফোন, মেসেজ ও ইমেইলে দেরিতে সাড়া পাওয়ায় প্রয়োজনীয় সাপোর্টে উল্লেখযোগ্য বিলম্ব হতো, ফলে প্রতিষ্ঠানের কার্যক্রম অযথা সময় নষ্টের সম্মুখীন হতো।' },
    { title: 'ডেটা নিরাপত্তার উচ্চ ঝুঁকি', description: 'তৃতীয় পক্ষ ডেটা পরিচালনা করায় ভুল রেজাল্ট, ডেটা লস ও অননুমোদিত অ্যাক্সেসের ঝুঁকি ছিল বেশি। মনিটরিং না থাকায় এসব সমস্যাগুলো আরও বৃদ্ধি পেত।' }
  ]"
  [rightImage]="'spp-1.png'">
</app-supprots-ai-help-desk>